.hero {
  background-color: #f2f0f1;
  &__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  &__left {
    // height: 600px;
    padding: 40px 0px;
    // background: url(../../assets/images/hero.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  &__right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    img {
      width: 100%;
    }
  }

  &__left__title {
    font-size: 64px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    line-height: 80px;
    padding-top: 20px;
  }

  &__left__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #00000099;
    padding: 10px 0px;
    // width: 50%;
  }

  &__left__btn {
    padding: 15px 80px;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    border-radius: 30px;
    margin: 10px 0px;
    transition: 0.4s;
    border: none;
    margin-bottom: 20px;
  }

  &__left__result {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    // width: 50%;
  }

  &__left__result__card {
    h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 34px;
      text-align: left;
      color: #000000;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      color: #00000099;
    }
  }

  @media (max-width: 1110px) {
    &__left__title {
      font-size: 34px;
      font-weight: 700;
      text-align: left;
      color: #000000;
      line-height: 50px;
    }
    // &__left__result__card {
    //   h1 {
    //     font-size: 20px;
    //     font-weight: 700;
    //     text-align: left;
    //     color: #000000;
    //   }
    //   p {
    //     font-size: 12px;
    //     font-weight: 400;
    //     text-align: left;
    //     color: #00000099;
    //   }
    // }
  }

  @media (max-width: 850px) {
    &__card {
      display: grid;
      grid-template-columns: 1fr;
    }

    &__left__result {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      // justify-content: center;
    }
  }

  @media (max-width: 425px) {
    &__left {
      padding: 0px;
    }

    &__left__result {
      gap: 10px;
      &__card {
        width: 130px;
        text-align: center;
      }
      h1 {
        font-size: 20px;
        text-align: center;
      }
    }
  }

  @media (max-width: 400px) {
    &__left__title {
      font-size: 30px;
      text-align: center;
      line-height: 35px;
    }
    &__left__text {
      font-size: 16px;
      text-align: center;
      line-height: 20px;
    }

    &__left__btn {
      display: block;
      margin: 0 auto;
      padding: 10px 30px;
    }
  }

  @media (max-width: 330px) {
    &__left__result {
      display: none;
    }
  }
}
